body{
	margin:0;
	padding:0;
	/*background-image: url(../multimedia/fotos/fondo.jpg);
	background-repeat: repeat;*/
}

/* header*/
header{
	position: relative;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 82px;
	background-image: linear-gradient(45deg, #FFAF00, black);
	min-width: 1165px;
	max-height: 82px;
	display: block;
	float: left;
}

#logo{
	margin:0;
	padding:0;
	float: left;
	width: 140px;
	height: 82px;
}

nav{	
	
	float: left;
	height: 82px;
	width: auto;
	min-width: 83%;
	display: block;
}

#menu{
	margin: 0;
	padding:0;
	width: auto;
	height: 82px;
	overflow-x: auto;
	
	border-left-width: 1em;
	border-color: white; 
}

.boton{
	width: auto;
	height: 1.3em;
	padding: 1em .5em;
	margin: .5em 0em;
	margin-right: 4%;
	border-bottom-width: 2px;
	border-bottom: solid;
	border-color: white; 
	float:left;
	list-style-type: none;
	min-width: 116px;
	text-align: center;
	overflow-x: auto;
	
}

.boton:hover{
	width: auto;
	height: 1.3em;
	padding: 1em .5em;
	margin: .5em 0em;
	margin-right: 4%;
	border-bottom-width: 2px;
	border-bottom: solid;
	border-color: orangered; 
	float:left;
	list-style-type: none;
	min-width: 116px;
	text-align: center;
	overflow-x: auto;
	
}

nav ul li a{
	text-decoration: none;
	color: white;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	text-shadow: 2px 4px 8px black;
}

nav ul li a:hover{
	text-decoration: none;
	color: orangered;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	text-shadow: 2px 4px 8px white;
}


/*video inicio*/
#video_pattern h1{
	position: absolute;
	top: 10%;
	left: 32%;
	clear:left;
	font-size: 3em;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-variant: small-caps;
	text-shadow: 2px 4px 8px white;
}


#video_pattern{
	margin: 0;
	height: auto;
	width: auto;
	max-width: 100%;
	min-width: 1165px;
}

#video{
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	min-width: 1165px;
}

.video{
	height: auto;
	width: auto;
	padding: 0;
	background-color: black;
}

/*footer*/

footer{
	padding: 5px 0;
	margin: 0;
	height: 100%;
	background-image: linear-gradient(45deg, #FFAF00, black);
}

.mapa{
	float: left;
	height: 100%;
	width: auto;
	max-width: 40%;
	margin-left: 1em;
}

#mapa{
	width: 100%;
	height: 100%;
}

#info{
	border-left: solid;
	border-left: 1em;
	border-left-color: white;
	padding-top: 3%;
	padding-left: 3%;
	float: left;
	color: white;
}

footer p{
	clear:left;
	margin-top: 0.8em;
	margin-left: 1em;
	color: white;
}

footer p a{
	color: white;
}